<!-- start custom head snippets -->
<link href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap" rel="stylesheet"> <!-- Títulos -->
<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet"> <!-- Tecnocracia -->
<link href="https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap" rel="stylesheet"> <!-- Herméticos -->
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap" rel="stylesheet"> <!-- Tierra -->
<link href="https://fonts.googleapis.com/css2?family=Spectral+SC&family=UnifrakturCook&display=swap" rel="stylesheet"> <!-- Arcanum -->



<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
